h1,h2,h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    padding: 20px;
    border-radius: 10px;
    border: 10px solid rosybrown;
    
    margin:0 auto;
    text-align: center;
    width: 800px;
}

h1 {
    color: red;

}
#weather-imag {
    position: relative;
    width: 200px;
}
#temperature{
    font-size: 80px;
    font-weight: bold;
}
#Fraren {
    color: blue;
    vertical-align: super;
    font-size: 50px;

}
#celecius {
    font-size: 50px;
    vertical-align: super;

}
li { color: chocolate;
    margin-top: 80px;
    font-weight: bolder;
    font-size: 20px;

}
#formInput{
    display: block;
    margin: 0 auto;
    width: 600px;
    font-size: large;
    font-size: 20px;
}
#input-submit {
    color: rgba(255, 0, 17, 0.817);
    font-size: 20px;
    background-color:chartreuse
    display: block;
    margin: auto;
    transition: all  ease-in-out;
    padding: 5px;
    border: 2px solid red;
    width: 100px;
}
button:hover {
    background-color: rgb(222, 135, 155);
    cursor: pointer;

}
#forcast-date-image-tem {
    padding: 40px;
    
}

#forcast-date {
    color: red;
    font-size: 30px;

}
#forcast-imag {
    width: 50px;
    margin-top: 20px;
}
#forcast-min-max-tem {
    color: brown;
    
}
#tem-max {
    font-weight: bolder;
}

